html {
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}

nav {
    margin: auto auto 30px auto;
    line-height: 0;
}

nav li {
    display: inline;
    margin: 0 2em 0 0;
}

nav button {
    padding: 7px;
    border: 2px solid grey;
    border-radius: 2px;
}

main {
    border: 1px solid;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 70% 30%;
}

#contenedor_principal {
    font-family: serif;
}

aside {
    grid-column: 2;
    border: 1px dotted;
    padding: 0 20px;
}

aside img {
    width: 300px;
    height: auto;
    object-fit: contain;
}

footer {
    margin: 30px auto auto auto;
    font-size: 0.5em;
}